<div class="settings-screen">
  <div class="title">
    <p style="font-size: 32px; font-weight: bold;">Configuration</p>
  </div>
  <div class="content">
    <div class="left">
      <div style="width: 100%;">
        <div>
          <p style="font-weight: bold; font-size: 20px;">Posture</p>
          <div class="settings-options-container">
            <div>
              <p>
                Posture Sensitivity
              </p>
            </div>
            <div>
              <p>
                Show Skeleton
              </p>
            </div>
            <div>
              <p>
                Sampling Frequency
              </p>
            </div>
          </div>
        </div>
        <div style="border: 1px solid #ccc; margin: 10px 0; width: 90%;"></div>
        <div>
          <p style="font-weight: bold; font-size: 20px;">Alerts</p>
          <div class="settings-options-container">
            <div>
              <p>
                Visual alerts
              </p>
            </div>
            <div>
              <p>
                Sound alerts
              </p>
            </div>
            <div>
              <p>
                Alert Volume
              </p>
            </div>
            <div>
              <p>
                Alert Interval
              </p>
            </div>
          </div>
        </div>
        <div style="border: 1px solid #ccc; margin: 10px 0; width: 90%;"></div>
        <div>
          <p style="font-weight: bold; font-size: 20px;">Notifications</p>
          <div class="settings-options-container">
            <div>
              <p>
                Mail Notifications
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="right">
      <p style="font-weight: bold; font-size: 20px;">Calibration Details</p>
      <div style="width: 100%;" class="calibration-details-container">
        <div>
          <p>
            Step 1
          </p>
        </div>
        <div>
          <p>
            Step 2
          </p>
        </div>
        <div>
          <p>
            Step 3
          </p>
        </div>
      </div>
      <button>
        <p>Calibrate</p>
      </button>
    </div>
  </div>

</div>

