<div class="calibration-screen">
  <div>
    <p style="font-size: 32px; font-weight: bold;">Calibration</p>
  </div>
  <div class="content">
    <app-camera-view></app-camera-view>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div class="steps-indicator">
        <z-icon zType="chevron-left" zSize="xl" [zStrokeWidth]="3"/>
        <div style="border: 2px solid; background-color: white; color:black; border-radius: 20px; padding: 4px 12px; display: flex; align-items: center; justify-content: center; margin: 0 8px;">
          <p>1</p>
        </div>
        <p>-</p>
        <div style="border: 2px solid; background-color: white; color:black; border-radius: 20px; padding: 4px 12px; display: flex; align-items: center; justify-content: center; margin: 0 8px;">
          <p>2</p>
        </div>
        <p>-</p>
        <div style="border: 2px solid; background-color: white; color:black; border-radius: 20px; padding: 4px 12px; display: flex; align-items: center; justify-content: center; margin: 0 8px;">
          <p>3</p>
        </div>
        <p>-</p>
        <div style="border: 2px solid; background-color: white; color:black; border-radius: 20px; padding: 4px 12px; display: flex; align-items: center; justify-content: center; margin: 0 8px;">
          <p>4</p>
        </div>
        <z-icon zType="chevron-right" zSize="xl" [zStrokeWidth]="3"/>
      </div>
      <div style="width: 600px; background-color: white; color: black; padding: 20px; border-radius: 8px; margin: 20px 0;">
        <div style="display: flex; gap: 8px; justify-content: space-between;">
          <div>
            <p style="font-weight: bold">Step 1</p>
            <p>On this step we will check if your camera is working properly.</p>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; margin-left: 12px">
            <z-icon zType="check" />
          </div>
        </div>
        <div style="border: 1px solid #232323; margin: 8px 0; width: 100%;"></div>
        <div style="display: flex; gap: 8px; justify-content: space-between;">
          <div>
            <p style="font-weight: bold">Step 2</p>
            <p>On this step we will calibrate your posture by capturing your ideal sitting position.</p>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; margin-left: 12px">
            <z-icon zType="check" />
          </div>
        </div>
        <div style="border: 1px solid #232323; margin: 8px 0; width: 100%;"></div>
        <div style="display: flex; gap: 8px; justify-content: space-between;">
          <div>
            <p style="font-weight: bold">Step 3</p>
            <p>On this step we will test the posture detection by simulating bad and good posture positions.</p>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; margin-left: 12px">
            <z-icon zType="check" />
          </div>
        </div>
        <div style="border: 1px solid #232323; margin: 8px 0; width: 100%;"></div>
        <div style="display: flex; gap: 8px; justify-content: space-between;">
          <div>
            <p style="font-weight: bold">Step 4</p>
            <p>On this step we will finalize the calibration doing a test session and save your settings.</p>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; margin-left: 12px">
            <z-icon zType="check" />
          </div>
        </div>
      </div>
      <div style="display: flex; gap: 8px;">
        <z-button zSize="lg">Next Step</z-button>
        <z-button zSize="lg">Restart Calibration</z-button>
      </div>
    </div>
  </div>
</div>
